.mainbox{
    display: flex;

    background-color: azure;
    margin: 0 auto;
    padding: 0.125rem 0.125rem 0;
}
.mainbox .mapbox{
    width: 80%;
    height: 1024px;
    background-color: cornflowerblue;
}
.mainbox .chartbox{
    width: 20%;
    height: 1024px;
    background-color: chartreuse;
}