{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>省份信息知识图谱-知识图谱构建B组</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>
<h1>省份信息知识图谱-知识图谱构建B组</h1>
<form action="/kgB/kg_province" method="get">
    {% csrf_token %}
    <select data-placeholder="选择省份..." class="form-control" name="select_province" id="select_province">
　　          <option value="">请选择省份</option>
　　          {% for key,value in province.items %}
　　          <option value="{{ value }}" hassubinfo="true">{{ value }}</option>
　            {% endfor %}
    </select>
    <p>
        <input type="submit" name="login">
    </p>
</form>
<ul>

</ul>
<p>(TO DO: 后期此处可以用下拉框选择省份，然后动态传递数据，跳转到相应省份的页面。此处示例仅供参考)</p>
</body>
</html>