<!doctype html>
<html lang="zh">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>About</title>
    <!-- web fonts -->
    <link href="http://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
    <!-- //web fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
</head>

<body>


    <!-- Top Menu 1 -->
    <section class="w3l-top-menu-1">
        <div class="top-hd">
            <div class="container">
                <header class="row">
                    <div class="social-top col-sm-6 col-6 pl-0">
                        <li>欢迎使用</li>
                    </div>
                    <div class="accounts col-sm-6 col-6 pr-0">
                        <li class="top_li1"><a href="#">登录</a></li>
                        <li class="top_li2"><a href="#">注册</a></li>
                    </div>
                </header>
            </div>
        </div>
    </section>
    <!-- //Top Menu 1 -->
    <section class="w3l-bootstrap-header">
        <nav class="navbar navbar-expand-lg navbar-light py-lg-2 py-2">
            <div class="container">
                <a class="navbar-brand" href="index.html"><span>祥龙-</span>咨询</a>
                <!-- if logo is image enable this   
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fa fa-bars"></span>
      </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">主页</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">各省份分数表</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="3.html">智能分析</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="小测试\index.html">小测试</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="map.html">985高校地图</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <section class="w3l-service-breadcrum">
        <div class="breadcrum-bg py-sm-5 py-4">
            <div class="container py-lg-3 py-2">
                <h1>专业推荐</h1>
            </div>
        </div>
    </section>
    <section class="w3l-features-8">
        <!-- /features -->
        <div class="features py-5" id="services">
            <div class="container py-md-3">
                <div class="heading text-center mx-auto">
                    <h3 class="head">根据能力的专业推荐</h3>
                    <p class="my-3 head"> 填写专业能力调查，查看适合自己的专业与报考风险 </p>
                </div>
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <form role="form">
                                <div class="form-group">
                                    <label for="province">1.您的省份：</label>
                                    <input type="text" class="form-control" id="province" placeholder="江苏" />
                                </div>
                                <div class="form-group">
                                    <label for="wenlike">2.您的文理科：</label>
                                    <div class="radio">
                                        <label class="radio-inline">
                                        <input type="radio" name="wenli" id="wenke" value="option1" checked>文科
                                    </label>
                                        <label class="radio-inline">
                                        <input type="radio" name="wenli" id="like"  value="option2">理科
                                    </label>
                                        <label class="radio-inline">
                                        <input type="radio" name="wenli" id="wenlibufen"  value="option3">文理不分
                                    </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="university">3.期待报考院校：</label>
                                    <input type="text" class="form-control" id="univer" placeholder="东南大学" />
                                </div>
                                <div class="form-group">
                                    <label for="math">4.单科成绩：数学</label>
                                    <input type="text" class="form-control" id="math" placeholder="0" />
                                </div>
                                <div class="form-group">
                                    <label for="chinese">4.单科成绩：语文</label>
                                    <input type="text" class="form-control" id="chinese" placeholder="0" />
                                </div>
                                <div class="form-group">
                                    <label for="english">4.单科成绩：外语</label>
                                    <input type="text" class="form-control" id="english" placeholder="0" />
                                </div>
                                <div class="form-group">
                                    <label for="physic">4.单科成绩：物理</label>
                                    <input type="text" class="form-control" id="physic" placeholder="0" />
                                </div>
                                <div class="form-group">
                                    <label for="chemistry">4.单科成绩：化学</label>
                                    <input type="text" class="form-control" id="chemistry" placeholder="0" />
                                </div>
                                <div class="form-group">
                                    <label for="biology">4.单科成绩：生物</label>
                                    <input type="text" class="form-control" id="biology" placeholder="0" />
                                </div>
                                <div class="form-group">
                                    <label for="history">4.单科成绩：历史</label>
                                    <input type="text" class="form-control" id="history" placeholder="0" />
                                </div>
                                <div class="form-group">
                                    <label for="politics">4.单科成绩：政治</label>
                                    <input type="text" class="form-control" id="politics" placeholder="0" />
                                </div>
                                <div class="form-group">
                                    <label for="geography">4.单科成绩：地理</label>
                                    <input type="text" class="form-control" id="geography" placeholder="0" />
                                </div>
                                <div class="form-group">
                                    <label for="technology">4.单科成绩：技术（若无留空）</label>
                                    <input type="text" class="form-control" id="technology" placeholder="0" />
                                </div>
                                <div class="form-group">
                                    <label for="competition">5.您的竞赛奖项：</label>
                                    <p>
                                        <select name="列表名称" size="行数">
                                            <option value="全国中学生数学竞赛" selected="selected" (默认选中项)>全国中学生数学竞赛</option>
                                            <option value="全国中学生化学竞赛">全国中学生化学竞赛</option>
                                            <option value="全国中学生物理竞赛">全国中学生物理竞赛</option>
                                            <option value="全国中学生生物竞赛">全国中学生生物竞赛</option>
                                            <option value="全国青少年信息学奥林匹克联赛">全国青少年信息学奥林匹克联赛</option>
                                            <option value="全国青少年科技创新大赛">全国青少年科技创新大赛</option>
                                            <option value="全国青少年创意编程与智能设计大赛">全国青少年创意编程与智能设计大赛</option>
                                            <option value="“童创未来”全国青少年人工智能创新挑战赛">“童创未来”全国青少年人工智能创新挑战赛</option>
                                            <option value="第六届全国青少年电子信息智能创新大赛">第六届全国青少年电子信息智能创新大赛</option>
                                            <option value="全国中小学信息技术创新与实践大赛">全国中小学信息技术创新与实践大赛</option>
                                            <option value="全国中小学生创·造大赛">全国中小学生创·造大赛</option>
                                            <option value="“明天小小科学家”竞赛">“明天小小科学家”竞赛</option>
                                            <option value="全国青年科普创新实验暨作品大赛">全国青年科普创新实验暨作品大赛</option>
                                            <option value="全国中学生天文知识竞赛">全国中学生天文知识竞赛</option>
                                            <option value="全国防震减灾知识大赛">全国防震减灾知识大赛</option>
                                            <option value="世界华人学生作文大赛">世界华人学生作文大赛</option>
                                            <option value="全国中学生科普科幻作文大赛">全国中学生科普科幻作文大赛</option>
                                            <option value="第十七届叶圣陶杯全国中学生新作文大赛">第十七届叶圣陶杯全国中学生新作文大赛</option>
                                            <option value="高中生创新能力大赛">高中生创新能力大赛</option>
                                            <option value="“外研社杯”全国中小学外语素养大赛">“外研社杯”全国中小学外语素养大赛</option>
                                            <option value="中国日报社“21世纪杯”全国英语演讲比赛">中国日报社“21世纪杯”全国英语演讲比赛</option>
                                            <option value="第三十届“希望杯”全国数学邀请赛">第三十届“希望杯”全国数学邀请赛</option>
                                            <option value="第十三届“地球小博士”和“环保之星”全国地理科普知识大赛">第十三届“地球小博士”和“环保之星”全国地理科普知识大赛</option>
                                            <option value="全国中小学生绘画书法作品比赛">全国中小学生绘画书法作品比赛</option>
                                            <option value="中日青少年书画友好交流大赛">中日青少年书画友好交流大赛</option>
                                            <option value="全国青少年科学影像大赛">全国青少年科学影像大赛</option>
                                            <option value="丝路国家青少年国际摄影竞赛">丝路国家青少年国际摄影竞赛</option>
                                                </select>
                                        <select name="列表名称" size="行数">
                                                    <option value="国家一等奖" selected="selected" (默认选中项)>国家一等奖</option>
                                                    <option value="国家二等奖">国家二等奖</option>
                                                    <option value="国家三等奖">国家三等奖</option>
                                                    <option value="省一等奖">省一等奖</option>
                                                    <option value="省二等奖">省二等奖</option>
                                                    <option value="省三等奖">省三等奖</option>
                                                        </select>
                                    </p>


                                </div>
                                <div class="btnsb">
                                    <button type="submit" class="btn btn-default btn-info wenjuanxingone wenjuanxingtwo">提交</button>
                                    <button type="reset" class="btn btn-default btn-danger wenjuanxingone wenjuanxingtwo">重置</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <script>
                    $(document).ready(function() {
                        $('.combobox').combobox();
                    });
                </script>
                <div class="fea-gd-vv text-center row mt-5 pt-2">

                </div>
            </div>
        </div>
        <!-- //features -->
    </section>
    <!-- services page block 3 -->

    <!-- services page block 3 -->

    <!-- services page block 3 -->

    <!-- services page block 3 -->

    <!-- grids block 5 -->
    <section class="w3l-footer-29-main">
        <div class="footer-29">
            <div class="container">
                <div class="d-grid grid-col-4 footer-top-29">
                    <div class="footer-list-29 footer-1">
                        <h6 class="footer-title-29">Contact Us</h6>
                        <ul>
                            <li>
                                <a href="info.html" span class="fa fa-map-marker"></span> Xianglong Business, SEU</a>
                            </li>
                            <li><a href="mailto:haoruili@seu.edu.cn" class="mail"><span class="fa fa-envelope-open-o"></span> haoruili@seu.edu.cn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- move top -->
            <button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fa fa-angle-up"></span>
  </button>
            <script>
                // When the user scrolls down 20px from the top of the document, show the button
                window.onscroll = function() {
                    scrollFunction()
                };

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("movetop").style.display = "block";
                    } else {
                        document.getElementById("movetop").style.display = "none";
                    }
                }

                // When the user clicks on the button, scroll to the top of the document
                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }
            </script>
            <!-- /move top -->
    </section>
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <!-- //footer-28 block -->
    </section>
    <script>
        $(function() {
            $('.navbar-toggler').click(function() {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- Template JavaScript -->
    <script src="assets/js/all.js"></script>
    <!-- Smooth scrolling -->
    <!-- <script src="assets/js/smoothscroll.js"></script> -->
    <script src="assets/js/owl.carousel.js"></script>

    <!-- script for -->
    <script>
        $(document).ready(function() {
            $('.owl-one').owlCarousel({
                loop: true,
                margin: 0,
                nav: true,
                responsiveClass: true,
                autoplay: false,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    480: {
                        items: 1,
                        nav: false
                    },
                    667: {
                        items: 1,
                        nav: true
                    },
                    1000: {
                        items: 1,
                        nav: true
                    }
                }
            })
        })
    </script>
    <!-- //script -->

</body>

</html>
<!-- // grids block 5 -->