<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Province visualization</title>
    <link rel="stylesheet" href="assets/css/humborn.css">
    <script src="assets/js/echarts.js"></script>
    <!--<div id="main" style="width: 1200px;height:1000px;"></div>-->
    <script src="assets/js/china.js"></script>
</head>

<body>
    <header>
        <h1>中国各省大学分布图-2020</h1>
    </header>
    <section class="mainbox">
        <div class="map"></div>
        <div class="chart"></div>
    </section>
    <script src="assets/js/map.js" type="text/javascript"></script>
    <script src="assets/js/statisticChart.js" type="text/javascript"></script>
</body>

</html>