<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home</title>
    <!-- web fonts -->
    <link href="http://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
    <!-- //web fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
</head>

<body>

    <!-- Top Menu 1 -->
    <section class="w3l-top-menu-1">
        <div class="top-hd">
            <div class="container">
                <header class="row">
                    <div class="social-top col-sm-6 col-6 pl-0">
                        <li>欢迎使用</li>

                    </div>
                    <div class="accounts col-sm-6 col-6 pr-0">
                        <li class="top_li1"><a href="#">登录</a></li>
                        <li class="top_li2"><a href="#">注册</a></li>
                    </div>

                </header>
            </div>
        </div>
    </section>

    <!-- //Top Menu 1 -->
    <section class="w3l-bootstrap-header">
        <nav class="navbar navbar-expand-lg navbar-light py-lg-2 py-2">
            <div class="container">
                <a class="navbar-brand" href="index.html"><span>祥龙-</span>咨询</a>
                <!-- if logo is image enable this   
  <a class="navbar-brand" href="#index.html">
      <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
  </a> -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon fa fa-bars"></span>
    </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">主页</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">各省份分数表</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="3.html">智能分析</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="小测试\index.html">小测试</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="map.html">985高校地图</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <section class="w3l-service-breadcrum">
        <div class="breadcrum-bg py-sm-5 py-4">
            <div class="container py-lg-3 py-2">
                <h1>推荐学校</h1>

            </div>
        </div>
    </section>
    <section class="w3l-main-slider" id="home">
        <!-- main-slider -->
        <div class="companies20-content">

            <div class="owl-one owl-carousel owl-theme">
                <div class="item">
                    <li>
                        <div class="slider-info banner-view banner-top2 bg bg2" data-selector=".bg.bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg mx-auto text-center ">
                                        <p align="left">
                                            <form method="post" class="smart-green" style="text-align:left" action="university.html">

                                                <p> 排名：<input name="排名" type="text" required> </p>
                                                <p>省份：
                                                    <select name="省份" size="行数">

                      <option value="北京" selected="selected"(默认选中项)>北京</option >
                      <option value="天津">天津</option >
                        <option value="河北">河北</option >
                        <option value="辽宁">辽宁</option >
                        <option value="吉林">吉林</option >
                        <option value="黑龙江">黑龙江</option >
                        <option value="山东">山东</option >
                        <option value="江苏">江苏</option >
                        <option value="上海">上海</option >
                        <option value="浙江">浙江</option >
                        <option value="安徽">安徽</option >
                        <option value="福建">福建</option >
                        <option value="江西">江西</option >
                        <option value="广东">广东</option >
                        <option value="广西">广西</option >
                        <option value="海南">海南</option >
                        <option value="河南">河南</option >
                        <option value="湖南">湖南</option >
                        <option value="湖北">湖北</option >
                        <option value="山西">山西</option >
                        <option value="内蒙古">内蒙古</option >
                        <option value="宁夏">宁夏</option >
                        <option value="青海">青海</option >
                        <option value="陕西">陕西</option >
                        <option value="甘肃">甘肃</option >
                        <option value="新疆">新疆</option >
                        <option value="四川">四川</option >
                        <option value="贵州">贵州</option >
                        <option value="云南">云南</option >
                        <option value="重庆">重庆</option >
                        <option value="西藏">西藏</option >
                        <option value="香港">香港</option >
                        <option value="澳门">澳门</option >
                        <option value="台湾">台湾</option >



                      </select>
                                                </p>
                                                <p>想去省份：
                                                    <select name="想去省份" size="行数">
                      <option value="北京" selected="selected"(默认选中项)>北京</option >
                      <option value="天津">天津</option >
                        <option value="河北">河北</option >
                        <option value="辽宁">辽宁</option >
                        <option value="吉林">吉林</option >
                        <option value="黑龙江">黑龙江</option >
                        <option value="山东">山东</option >
                        <option value="江苏">江苏</option >
                        <option value="上海">上海</option >
                        <option value="浙江">浙江</option >
                        <option value="安徽">安徽</option >
                        <option value="福建">福建</option >
                        <option value="江西">江西</option >
                        <option value="广东">广东</option >
                        <option value="广西">广西</option >
                        <option value="海南">海南</option >
                        <option value="河南">河南</option >
                        <option value="湖南">湖南</option >
                        <option value="湖北">湖北</option >
                        <option value="山西">山西</option >
                        <option value="内蒙古">内蒙古</option >
                        <option value="宁夏">宁夏</option >
                        <option value="青海">青海</option >
                        <option value="陕西">陕西</option >
                        <option value="甘肃">甘肃</option >
                        <option value="新疆">新疆</option >
                        <option value="四川">四川</option >
                        <option value="贵州">贵州</option >
                        <option value="云南">云南</option >
                        <option value="重庆">重庆</option >
                        <option value="西藏">西藏</option >
                        <option value="香港">香港</option >
                        <option value="澳门">澳门</option >
                        <option value="台湾">台湾</option >

                      </select>

                                                </p>
                                                <p>是否想去双一流：
                                                    <select name="是否想去双一流" size="行数">

                      <option value="1" selected="selected">是</option >

                      <option value="2">否</option >

                      </select>

                                                </p>
                                                <p>是否只想去一本：
                                                    <select name="是否只想去一本" size="行数">

                      <option value="1" selected="selected">是</option >

                      <option value="2">否</option >

                      </select>

                                                </p>
                                                <p>分科：
                                                    <select name="分科" size="行数">

                      <option value="1" selected="selected">理科</option >

                      <option value="2">文科</option >
                          <option value="2">文理不分科</option >

                      </select>

                                                </p>
                                                <p align="center">
                                                    <input type="submit" (提交按钮) class="btn btn-secondary btn-theme2 mt-md-5 mt-4" name="butSubmit" value="查询">
                                                </p>
                                            </form>
                                        </p>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </div>

        </div>


        <script src="assets/js/owl.carousel.js"></script>
        <!-- script for -->
        <script>
            $(document).ready(function() {
                $('.owl-one').owlCarousel({
                    loop: true,
                    margin: 0,
                    nav: false,
                    responsiveClass: true,
                    autoplay: false,
                    autoplayTimeout: 5000,
                    autoplaySpeed: 1000,
                    autoplayHoverPause: false,
                    responsive: {
                        0: {
                            items: 1,
                            nav: false
                        },
                        480: {
                            items: 1,
                            nav: false
                        },
                        667: {
                            items: 1,
                            nav: true
                        },
                        1000: {
                            items: 1,
                            nav: true
                        }
                    }
                })
            })
        </script>
        <!-- //script -->
        <!-- /main-slider -->
    </section>
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <!-- //footer-28 block -->
    </section>
    <script>
        $(function() {
            $('.navbar-toggler').click(function() {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="assets/js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="assets/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- Template JavaScript -->
    <script src="assets/js/all.js"></script>
    <!-- Smooth scrolling -->
    <!-- <script src="assets/js/smoothscroll.js"></script> -->
    <script src="assets/js/owl.carousel.js"></script>

    <!-- script for -->
    <script>
        $(document).ready(function() {
            $('.owl-one').owlCarousel({
                loop: true,
                margin: 0,
                nav: true,
                responsiveClass: true,
                autoplay: false,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    480: {
                        items: 1,
                        nav: false
                    },
                    667: {
                        items: 1,
                        nav: true
                    },
                    1000: {
                        items: 1,
                        nav: true
                    }
                }
            })
        })
    </script>
    <!-- //script -->
    <section class="w3l-footer-29-main">
        <div class="footer-29">
            <div class="container">
                <div class="d-grid grid-col-4 footer-top-29">
                    <div class="footer-list-29 footer-1">
                        <h6 class="footer-title-29">Contact Us</h6>
                        <ul>
                            <li>
                                <a href="info.html" span class="fa fa-map-marker"></span> Xianglong Business, SEU</a>
                            </li>
                            <li><a href="mailto:haoruili@seu.edu.cn" class="mail"><span class="fa fa-envelope-open-o"></span> haoruili@seu.edu.cn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- move top -->
            <button onclick="topFunction()" id="movetop" title="Go to top">
  <span class="fa fa-angle-up"></span>
</body>

</html>
<!-- // grids block 5 -->