<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>About</title>
  <!-- web fonts -->
  <link href="http://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
  <!-- //web fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
  </head>
  <body>


<!-- Top Menu 1 -->
<section class="w3l-top-menu-1">
	<div class="top-hd">
		<div class="container">
	<header class="row">
		<div class="social-top col-sm-6 col-6 pl-0">
			<li>欢迎使用</li>
			
		</div>
		<div class="accounts col-sm-6 col-6 pr-0">
				<li class="top_li1"><a href="#">登录</a></li>
				<li class="top_li2"><a href="#">注册</a></li>
		</div>
		
	</header>
</div>
</div>
</section>
<!-- //Top Menu 1 -->
<section class="w3l-bootstrap-header">
  <nav class="navbar navbar-expand-lg navbar-light py-lg-2 py-2">
    <div class="container">
      <a class="navbar-brand" href="index.html"><span>祥龙-</span>咨询</a>
      <!-- if logo is image enable this   
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fa fa-bars"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">主页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="map.html">各省份分数表</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">知识图谱</a>
          </li>
        
        
          <li class="nav-item">
            <a class="nav-link" href="contact.html">小测试</a>
          </li>
        </ul>
        <p>咨询电话<span class="fa fa-headphones pl-1"></span><br><a href="tel:400-882-3823">400-882-3823</a></p>
      </div>
    </div>
  </nav>
</section>
<section class="w3l-service-breadcrum">
  <div class="breadcrum-bg py-sm-5 py-4">
    <div class="container py-lg-3 py-2">
      <h1>数据可视化</h1>
  
    </div>
  </div>
</section>
<section class="w3l-features-8">
       <!-- /features -->
           <div class="features py-5" id="services">
			<div class="container py-md-3">
				<div class="heading text-center mx-auto">
					<h3 class="head">聚类</h3>
					<p class="my-3 head"> 聚类算法需要对多年的分数、排名及高校进行分析，得出分段分布模型，以及专业的分布模型。</p>
				  </div>
					
			   <div class="fea-gd-vv text-center row mt-5 pt-2">
				   	
					<div class="float-top col-lg-4 col-md-6">	
							<a href="#"><img src="assets/images/g7.jpg" class="img-responsive" alt=""></a>
							<div class="float-lt feature-gd">	
									<h3><a href="#">分段分布聚类</a> </h3>
										<p>分段分布聚类</p>
										<a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
									</div>
					</div>
					<div class="float-top col-lg-4 col-md-6 mt-md-0 mt-5">	
							<a href="#"><img src="assets/images/g8.jpg" class="img-responsive" alt=""></a>
							<div class="float-lt feature-gd">	
								<h3><a href="#">高校专业分布聚类</a> </h3>
								<p> 专业作为主维度，高校作为副维度</p>
									<a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
									</div>
						</div>
						<div class="float-top col-lg-4 col-md-6 mt-lg-0 mt-5">	
								<a href="#"><img src="assets/images/g6.jpg" class="img-responsive" alt=""></a>
								<div class="float-lt feature-gd">	
									<h3><a href="#">高校专业分布聚类</a> </h3>
									<p> 高校作为主维度，专业作为副维度</p>
										<a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
									</div>
						</div>							 				 
		     	</div>  
		    </div>
          </div>
      <!-- //features -->
</section>


<!-- //script -->

</body>

</html>
<!-- // grids block 5 -->

